<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="container">
      
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to "PinterestingApp", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to raw('<span class="glyphicon glyphicon-pushpin"></span> Add a Pin'), new_pin_path %></li>
        <% end %>
        <!-- Just wanted to have the links in this order thats why I've made a new little if the user is signed in block. -->
          <li><%= link_to "Home", root_path %> </li>
          <li><%= link_to "About", about_path %> </li>

      <% if user_signed_in? %>
        <li><%= link_to "Settings", edit_user_registration_path %></li>
         <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %> 
        </li>

      <% else %>
      <!--If you wanted to have a second option here (Something else showing when the user was logged out you could put it here. Otherwise you dont even really need the else to be present.) -->
      <li><%= link_to "Log in", new_user_session_path %></li>
      <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div class="container">
   </div class="container">


</nav>