<!DOCTYPE html>
<html>
<head>
  <title>Pinterestingapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Good to indent things so you can see they within these <body> </body> tags -->
	
	<%= link_to "Home", root_path %>
	<%= link_to "About", about_path %>
	<%= yield %>

</body>
</html>
